<!DOCTYPE html>
<html ng-app="phonecatApp">
  <head>
    ...
    <script src="lib/angular/angular.js"></script>
    <script src="app.js">
      $scope.name = 'world';
      expect(scope.name).toBe('world');
    </script>
    <script src="phone-list.component.js"></script>
  </head>
  <body ng-controller="PhoneListController">
    <ul>
      <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
      </li>
    </ul>
    <p>Total number of phones: {{phones.length}}</p>
    <p>Hello, {{name}}!</p>
    <table>
      <tr>
        <th>Row number</th>
      </tr>
      <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]">
        <td>{{i + 1}}</td>
      </tr>
    </table>
    <phone-list></phone-list>
  </body>
</html>
